<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Вход</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}packages/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}accounts/css/signin.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <form action="/accounts/login/?next={{ next }}" method="POST" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">Вход</h2>
        <input name="username" type="text" class="form-control" placeholder="Логин" autofocus>
        <input name="password" type="password" class="form-control" placeholder="Пароль">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
</body>
</html>
